<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the public folder
    RewriteRule ^(.*)$ public/$1 [L]

    # If a directory or a file exists in the public folder, use it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, direct the request to the index.php file
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
